<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Yudi Setiawan on 1/23/18 10:29 PM
  ~ Copyright (c) 2018. All rights reserved.
  ~
  ~ Last modified 1/23/18 10:25 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysn.cataloguemovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.ysn.cataloguemovie.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.ysn.cataloguemovie.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.activities.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.reminder.daily.DailyReminderActivity" />

        <receiver
            android:name=".service.reminder.daily.DailyAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activities.detail.DetailMovieActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".service.reminder.upcoming.UpcomingMoviesJobService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activities.settings.SettingsActivity"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".provider.FavoriteMovieProvider"
            android:authorities="com.ysn.cataloguemovie"
            android:exported="true"
            android:readPermission="com.ysn.cataloguemovie.READ_DATABASE"
            android:writePermission="com.ysn.cataloguemovie.WRITE_DATABASE" />

        <receiver android:name=".widgets.FavoriteMovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_movie_widget_info" />
        </receiver>

        <service
            android:name=".widgets.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>